<ul class="navbar-nav mr-auto">
	<li class="nav-item {{ (app.request.attributes.get('_route') == 'index')  ? 'active': ''}}">
		<a class="nav-link" href="{{ path('index') }}">Home</a>
	</li>
	<li class="nav-item {{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}}">
		<a class="nav-link" href="{{ path('about') }}">About</a>
	</li>
	<li class="nav-item {{ (app.request.attributes.get('_route') == 'our_glasses')  ? 'active': ''}}">
		<a class="nav-link" href="{{ path('our_glasses') }}">Our Glasses</a>
	</li>
	<li class="nav-item {{ (app.request.attributes.get('_route') == 'shop')  ? 'active': ''}}">
		<a class="nav-link" href="{{ path('shop') }}">Shop</a>
	</li>
	<li class="nav-item {{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}}">
		<a class="nav-link" href="{{ path('contact') }}">Contact Us</a>
	</li>
	
	{% if app.user %}
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_logout') }}">
				<i class="fa fa-sign-out sr-icons"></i>{{ app.user.username }}- Logout</a>
		</li>
	{% else %}
		<li class="nav-item {{ (app.request.attributes.get('_route') == 'login') ? 'active': ''}} login_btn">
			<a class="nav-link" href="{{ path('login') }}">Login</a>
		</li>
		<li class="nav-item {{ (app.request.attributes.get('_route') == 'register') ? 'active': ''}} ">
			<a class="nav-link" href="{{ path('register') }}">Register</a>
		</li>
	{% endif %}
	<li class="nav-item sea_icon">
		<a class="nav-link" href="#">
			<i class="fa fa-shopping-bag" aria-hidden="true"></i>
			<i class="fa fa-search" aria-hidden="true"></i>
		</a>
	</li>
</ul>
